body {
    background-color: palegoldenrod;
    color: rgb(98, 0, 0);
    font-family: Courier New, monospace, "Times New Roman", Times, serif;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #940000;
}
  
nav li {
    float: left;
}
  
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}