<!-- templates/base.html -->
<!-- blog/templates/blog/base.html -->
{% load static %}
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>
        <header>
            <h1>Blog</h1>
        </header>
    
        <nav>
            <ul>
                <!-- use the scriptlet URL function to look up a URL by name -->
                <a href="{% url 'show_all' %}">Show All</a>
                <a href="{% url 'random' %}">Random</a>
            </ul>
        </nav>
    {% block content %}
    {% endblock %}    
  
    </body>
</html>