<!-- mini_fb/templats/blog/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h2>Showing all Profiles</h2>

<main class="grid-container"> <!-- was <div> -->
    {% for p in profiles %}
    <profile> <!-- was <div> -->
        <div> <!-- added this! -->
            <img src="{{p.profile_image_url}}" alt="{{p.profile_image_url}}">
            <p>
                <h3><a href="{% url 'profile' p.pk %}">{{p.first_name}} {{p.last_name}}</a></h3>
                {{p.city}}
            </p>       
        </div> <!-- added this! -->
 
    </profile> <!-- was <div> -->
    {% endfor %}
</main> <!-- was <div> -->

{% endblock %}