<!-- mini_fb/templates/mini_fb/show_profile-->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>{{profile.first_name}} {{profile.last_name}}</h1>

<main> <!-- was <div> -->
    <profile> <!-- was <div> -->
        <div class="grid-container-profile-display">
            <div class="image_container">
                <img class="big_img" src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
            </div>

            <div class="text_container">
                <div>
                    <h3>{{profile.city}}</h2>
                    <h3>{{profile.email_address}}</h3>
                    
                    {% if request.user == profile.user %}
                    <h3><a class="big_button" href="{% url 'create_status' profile.pk %}">Add a Status Message</a>
                    <a class="big_button" href="{% url 'update_profile' profile.pk %}">Update Profile</a></h3>
                    {% endif %}
                </div> 

                <!-- To display status messages: -->
                <div>
                    {% if profile.get_status_message %}
                        <h2>Status Messages</h2>
                        <!-- call the Profile's get_status_message() method -->
                    
                        {% for s in profile.get_status_message %}
                        <div>
                            <strong>At {{s.timestamp}} : </strong>
                            <p>
                                <!--{{ s }} was used for debugging-->
                                {{s.message}}
                            </p>
                            {% if s.get_image %}
                                
                                {% for i in s.get_image %}
                                    <img src='{{i.image_file.url}}' alt='{{i.image_file.url}}'>
                                {% endfor %}
                            {% endif %}
                            {% if request.user == profile.user %}
                            <p><a class="status_button" href="{% url 'delete_status' s.pk %}">Delete</a>
                            <a class="status_button" href="{% url 'update_status' s.pk %}">Update</a></p>
                            {% endif %}
                        </div>
                        <br>
                        {% endfor %}
            
                    {% else %}
                        <div>
                            <h2>No Status Messages</h2>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <!-- To display friends -->
        <h3> {{profile.first_name}}'s Friends:</h3>
            <div class="grid-container">
                {% for fp in profile.get_friends %}
                    <profile>
                        <a href="{%url 'profile' fp.pk %}">{{fp}}</a>
                        <img src="{{fp.profile_image_url}}" alt="Image of {{fp}}"><br>
                    </profile>
                {% endfor %}
            </div>
        {% if request.user == profile.user %}
        <a class="big_button" href="{%url 'show_friend_suggestions' profile.pk %}">Show Friend Suggestions</a>
        <a class="big_button" href="{% url 'show_news' profile.pk%}"> {{profile}}'s News Feed</a>
        {% endif %}
    </profile> <!-- was <div> -->
</main>


{% endblock %}