<!-- hw/templates/hw/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}
        <h1>About Haruki Murakami</h1>
        <p>
            Haruki Murakami is a Japanese writer known for his use of magical realism. He was born in Kyoto, Japan, in 1949. 
            He originally opened a jazz cafe with his wife after graduating from college, but reportedly began his writing career
            in 1978, after he had an epiphany while attending a baseball game that he could write a novel. He began writing that 
            night. <br> <br>
            Murakami's works have been widely sold both within Japan and internationally, with his writing having been translated into 50+ languages. Some of his 
            most well known works include <em>Hard-Boiled Wonderland and the End of the World</em>, <em>Norwegian Wood</em>, 
            <em>Kafka on the Shore</em>, <em>1Q84</em>, and <em>The Wind-Up Bird Chronicle</em>. His fictional works are known 
            for carrying overarching themes of "missing something and seeking it and finding it" (Murakami, in an interview with
            <em>The New Yorker</em>).
        </p>

        <h3>Notes about the creator : Madeline Wong</h3>
        <p>Madeline Wong is a senior undergraduate student at Boston University, studying computer science. She is from Brooklyn, New York.
            In her free time, she enjoys playing video games, ballroom dancing, and playing badminton.
        </p>

{% endblock %}